#nav {
    box-shadow: 2px 2px 5px #999;
    color: #0066A1;
    background-color: white;
    
    position: fixed;
    display: block;
    width: 100%;
    z-index: 100;
}

a {
    text-decoration: none;
    color: #0066A1;
}

img {
    width: 3%;
}

#user {
    margin-left: 12px;
    padding-right: 0px;
}

#eco {
    margin-top: 23px;
    margin-right: 30px;
}

h4 {
    margin-bottom: 16px;
}

h4:hover {
    border-bottom: solid 1px #0066A1;
    margin-bottom: initial;
}

.dropdown h4 {
    margin-bottom: initial;
    cursor: pointer;
}

#exit:hover {
    transform: scale(125%);
}

#user:hover {
    transform: scale(125%);
}

.icon {
    margin-left: 15px;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.50));
}