<ul class="alert alert-danger" *ngIf="errores?.length>0">
    <li *ngFor="let error of errores">{{error}}</li>
</ul>
<div class="row col-12 text-center">

    <div class="col-3"></div>
    <div class="card bg-info text-white p-2 text-center col-6">
        <div class="card-header">{{titulo}}</div>
        <div class="cad-body row col-12 text-center">
            <div class="col-4"></div>
            <div class="col-8">
                <form>
                    <br>

                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-6">Nombre:</label>
                        <div col-6>
                            <input type="text" class="form-control" name="nombre" required>
                        </div>

                        <div class="col-6">
                            <br>
                            <button class="btn btn-primary" role="button" (click)="create()">Crear</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <div class="col-3"></div>
</div>