ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.carta {
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.75));
    margin-bottom: 20px;
    border-radius: 10px;
}

.col-4 .carta {
    border-radius: 15px;
}

.carta:hover {
    transform: scale(1.02);
    transition: transform .2s;
}

.datos-carta {
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.link-carta {
    color: royalblue;
    text-decoration: none;
}

.loading {
    width: 3rem;
    height: 3rem;
    margin-top: 35px;
    margin-bottom: 200px;
}

.config-icon {
    border-radius: 35px;
}

#ajustes:hover {
    transform: scale(110%);
}

#ajustes {
    color: gray;
    fill: gray;
    display: inline-block;
}


/* CARTAS POR PÁGINA */

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    border: 2px solid #ddd;
    border-radius: 5px;
    display: inline-flex;
    background-color: whitesmoke;
    padding: 2px;
}

.number-input,
.number-input * {
    box-sizing: border-box;
}

.number-input button {
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin: 0;
    position: relative;
    color: darkgray;
}

.number-input button:hover {
    color: gray;
}

.number-input button:disabled {
    color: lightgray;
}

.number-input button:after {
    display: inline-block;
    position: absolute;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 20pt;
    content: '˄';
    transform: translate(-50%, -50%) rotate(180deg);
    ;
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(0deg);
}

.number-input input[type=number] {
    font-family: sans-serif;
    max-width: 5rem;
    padding: .5rem;
    border: solid #ddd;
    color: dimgray;
    font-weight: lighter;
    border-width: 0 2px;
    font-size: 20pt;
    height: 2rem;
    width: 3rem;
    font-weight: bold;
    text-align: center;
}

.txt-select {
    color: dimgray;
    font-size: 12pt;
}