<div class="container">
    <div class="row">

        <div class="col-2">
        </div>

        <div class="col-8">
            
            <!---LISTADOR-->
            <div class="row">
                <h1>
                    <img class="album-icon"  width="32" height="32" class="mr-3" src="./assets/images/icons/search-icon.svg">
                    Buscador
                </h1>
            </div>
            <hr>

            <!---BUSCADOR-->
            <form class="form-inline md-form form-sm my-3">
                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="nombre" aria-label="Search" mdbInput>
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-search"></i>
                    <span class="fa fa-search"></span>
                    Buscar
              </button>
            </form>

            <div class="container">
                <div class="row">

                    <div class="alert alert-info mt-3" *ngIf="!busquedaRealizada">
                        <img class="album-icon"  width="32" height="32" class="mr-3" src="./assets/images/emojis/guino.png">
                        Busca cartas para añadirlas a tu colección:
                    </div>


                </div>
            </div>
        </div>

        <div class="col-2">
        </div>

    </div>
</div>