/* background-image: url("../assets/images/fondo.jpg"); */
#app-form{
  background-color: black;
}

.img_logo {
  width: 90%;
}

.card {
  color: black;
  border-radius: 10px;
}

.btn {
  background-color: #0066A1;
  border-radius: 10px;
  color: white;
}

#resaltarAzul {
  color: #0066A1;
}

.card {
  box-shadow: 0 30px 50px rgba(0, 0, 0, .5);
}

.box .inputBox {
  position: relative;
}

.box .inputBox input {
  width: 100%;
  padding: 10% 0;
  font-size: 16px;
  color: black;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #0066A1;
  outline: none;
  background: transparent;
  /*hace trasparente el hueco del formulario */
}

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10% 0;
  font-size: 16px;
  letter-spacing: 1px;
  color: #0066A1;
  pointer-events: none;
  transition: .5s;
}

.box .inputBox input:focus~label,
.box .inputBox input:valid~label {
  top: -30px;
  left: 0;
  color: #0066A1;
  font-size: 12px;
}