<div class="card text-dark bg-light mb-3 mt-3">
  <div class="card-header">Usuarios</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Usuarios</h5>

    <div class="my-2 text-left">
      <button class="btn btn-rounden btn-info" type="button" name="button" [routerLink]="['/crearCuenta']">Crear Usuario</button>
    </div>
    <div class="alert alert-info" *ngIf="usuarios?.length==0 ">No hay registros en la base de datos</div>
    <table class="table table-borderdered table-striped" *ngIf="usuarios?.length>0">
      <thead>
        <tr>
          <th>id</th>
          <th>username</th>
          <th>correo</th>
          <th>contraseña</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{usuario.username}}</td>
          <td>{{usuario.username}}</td>
          <td>{{usuario.correo}}</td>
          <td>{{usuario.contrasena}}</td>
          <td><button type="button" name="button" [routerLink]="['/usuarios/form', usuario.username]" class="btn btn-info">editar</button></td>
          <td><button type="button" name="button" (click)="delete(usuario)" class="btn btn-warning">eliminar</button></td>
        </tr>
      </tbody>

    </table>
    <!-- <app-paginator *ngIf="paginador" [paginador]="paginador"></app-paginator> -->
</div>