<div class="row">
    <div class="col">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="">
                </div>

                <div class="col-8">
                    <div class="row">
                        <h1 class="col-12">{{carta.name}}</h1>
                        <hr>

                        <div>
                            <a class="link-carta" routerLink="/carta">
                                <img src="{{carta.imagenesCarta.normal}}" class="carta" width="100%" height="100%">
                                <div class="datos-carta">
                                    {{carta.name}}<br> Coste de maná: {{carta.manaCost}}<br> Edición: {{carta.setCode}}
                                </div>
                                <br>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="col-2">
                    <img src="">
                </div>
            </div>
        </div>
    </div>
</div>