<div class="row">
    <div class="col">
        <div class="container">
            <div class="row">
                <div class="col-2">
                </div>

                <div class="col-8">
                    <div class="row">
                        <!--Título-->
                        <h1 class="col-12 mb-2">
                            <img class="album-icon" width="32" height="32" class="mr-3"
                                src="./assets/images/icons/letter-icon.svg">{{carta.name}}
                        </h1>
                        <br>
                        <div class="row mt-2">
                            <!--Imagen-->
                            <div class="col-6">
                                <div>
                                    
                                    <a class="link-carta" routerLink="/carta/{{carta.scryfallId}}">
                                        <img src="{{carta.imagenesCarta.normal}}" class="carta" width="100%"
                                            height="100%">
                                    </a>
                                </div>
                            </div>                            
                            <!--Datos carta-->
                            <div class="col-6">

                                <div class="card datos-carta">
                                    <div class="card-header">
                                        <h2 class="card-title mb-0">{{carta.name}}<div class="text-right">{{carta.manaCost}}</div></h2>
                                        
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush datos-carta">
                                            <li class="list-group-item">Edición: (mtg.getset){{carta.setCode}}</li>
                                        </ul>
                                        <p class="card-text">This spell can’t be countered.

                                            When you cast this spell, take an extra turn after this one.
                                            
                                            Flying, protection from spells that are one or more colors, annihilator 6
                                            
                                            When Emrakul, the Aeons Torn is put into a graveyard from anywhere, its owner shuffles their graveyard into their library.</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-2">
        </div>
    </div>
</div>
